
<%- include("partials/header"); -%>
    <h1>Home</h1>
    <p> <%= startingContent %> </p>

    <div class="row">
   
  <%  posts.forEach(function(post, index){ %>
  <%  if(index % 3 == 0) %>
    <div class="col-sm-3">
      <div class="card" style="width: 18rem;">
        <img class="card-img-top" src="/img/cocacola.png" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title"><%=post.title%></h5>
            <p class="card-text"> <%=post.content.substring(0, 100) + " ..."%></p>
            <a href="/posts/<%=post._id%>" class="btn btn-primary">Read More</a>
          </div>
      </div>
      <%  if(index % 3 == 0) %>
    </div>




    <!-- <h1><%=post.title%></h1>
    <p>
    <%=post.content.substring(0, 100) + " ..."%>
    <a href="/posts/<%=post._id%>">Read More</a>
    </p> -->


    <% }) %>
</div>

<%- include("partials/footer"); -%>
